<div class="container spacer">
  <div class="card">

    <div class="card-header text-white bg-primary">
      <strong>Liste des profils</strong>
    </div>
    <div class="card-body">
      <div class="card-body">
        <div class="form-inline">
          <label><strong>Mot clé:</strong></label>&nbsp;
          <input class="form-control" type="text" [(ngModel)]="search">&nbsp;
          <button class="btn  btn-primary" (click)="chercher()">Chercher</button> &nbsp; &nbsp;
          <button class="btn  btn-info">
            <a class="clickable text-white" id="add" [routerLink]="['/layout/add-profil']">Add</a>
          </button>&nbsp;
        </div><br/>
        <table class="table table-striped">
          <tr>
            <th (click)="sort('id')">ID &nbsp; <i class="fa fa-sort"></i></th>
            <th (click)="sort('libelle')">Libelle &nbsp; <i class="fa fa-sort"></i></th>
            <th>Action</th>
          </tr>
          <tr *ngFor="let p of pageProfiles | filter:search | orderBy: key: reverse">
            <td>{{p.id}}</td>
            <td>{{p.libelle}}</td>
            <td>
              <button class="btn  btn-primary">
                <a (click)="onEditProfil(p.id)" class="clickable text-white" id="edit" [routerLink]="['/layout/edit-profil']">Edit</a>
              </button>&nbsp;
              <button class="btn  btn-secondary">
                <a class="clickable text-white" id="detail" [routerLink]="['/layout/detail-list-profil',p.id]">Details</a>
              </button>&nbsp;
              <button class="btn  btn-danger">
                <a (click)="onDeleteProfil(p)" class="clickable text-white" id="delete">Delete</a>
              </button>
            </td>
          </tr>
        </table>

        <div class="container">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item" [ngClass]="{'active':i==currentPage}" *ngFor="let p of pages; let i=index ">
                <a class="page-link clickable" (click)="gotoPage(i)">{{i}}</a>
              </li>

            </ul>
          </nav>
        </div>

      </div>

    </div>
  </div>
</div>
