<!-- EN TETEN -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#"><strong> SONATEL ACADEMY </strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['user']"><strong>User</strong>
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['profil']"><strong>Profil</strong> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['profil-sortie']"><strong> Profil sortie</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['promo']"><strong> Promo</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['groupe-competence']"><strong> Groupe competence</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['competence']"><strong> Competence</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['referentiel']"><strong> Referentiel</strong></a>
      </li>
<!--      <li class="nav-item">-->
<!--        <img src="{{user.image}}" alt="image-utilisateur" width="45" height="45" class="rounded">-->
<!--        {{user.username}}-->
<!--      </li>-->

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu">

          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>


      <div class="nav-item dropdown">
        <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action">
<!--          <img src="data:image/png;base64,{{user.photo}}" class="avatar"  width="45" height="45" class="rounded">-->
          <img src="data:image/png;base64,{{user.photo}}" alt="" width="30" height="30" class="rounded">
          {{user.nom}}
          <b class="caret"></b>
        </a>
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a>
<!--          <a  (click)="deconect()" href="#" class="dropdown-item"><i class="material-icons"></i> Deconexion</a>-->
        </div>
      </div>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <a [routerLink]="['/login']" class="btn btn-info btn-lg mr-sm-2">
        <i class="fa fa-sign-out" aria-hidden="true"></i> Log out
      </a>
    </form>
  </div>
</nav><hr>
