

<!--Edit Promo-->
<div class="container spacer">
  <div class="card">

    <div class="card-header text-white bg-primary">
      <strong> Nouvelle promo</strong>
    </div>
    <div class="card-body">
      <div >
        <div class="form-group">
          <label class="control-label"><strong>Choix de la langue <span style="color:red;">*</span> </strong> </label>&nbsp;
          <select class="form-control" id="exampleFormControlSelect">
            <option>Langue 1</option>
            <option>Langue 2</option>
            <option>Langue 3</option>
          </select>&nbsp;
        </div>
        <div class="form-group">
          <label class="control-label"><strong>Titre <span style="color:#ff0000;">*</span></strong> </label>&nbsp;
          <textarea class="form-control" type="text" placeholder="Choisissez le titre le plus clair, le plus pro et le plus accrocheur possible" name=""></textarea>
        </div>
        <div class="form-group">
          <label class="control-label"><strong>Description de la promotion <span style="color:#ff0000;">*</span></strong> </label>&nbsp;
          <textarea class="form-control" type="text" placeholder="Ecrivez ici une description rapide, simple et concise" name=""></textarea>
        </div>
        <div class="form-group">
          <label class="control-label"><strong>Lieu de la promotion:</strong> </label>&nbsp;
          <textarea class="form-control" type="text" placeholder="Indiquez la region dans laquelle se trouve votre promotion" name=""></textarea>
        </div>
        <div class="form-group">
          <label class="control-label"><strong>Reference Agate:</strong> </label>&nbsp;
          <textarea class="form-control" type="text" placeholder="La reference Agate est un code analytique à demander à votre responsable formation si vous ne l'avez pas" name=""></textarea>
        </div>
        <div class="form-group">
          <label class="control-label"><strong>Choix de la fabrique <span style="color:#ff0000;">*</span></strong> </label>&nbsp;
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Choix de la fabrique 1</option>
            <option>Choix de la fabrique 2</option>
            <option>Choix de la fabrique 3</option>
          </select>&nbsp;
        </div>
        <div class="d-flex">
          <div class="form-group">
            <label for="example-date-input1" class="col-form-label"><strong> Date debut </strong><span style="color:#ff0000;">*</span></label>
            <div class="col-10">
              <input class="form-control" type="date" value="2011-08-19" id="example-date-input1">
            </div>
          </div>
          <div class="form-group">
            <label for="example-date-input" class="col-form-label"><strong> Date fin <span style="color:#ff0000;">*</span></strong></label>
            <div class="col-10">
              <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label"><strong>Referentiel(s) <span style="color:#ff0000;">*</span></strong> </label>&nbsp;
          <select class="form-control" id="exampleFormControlSelect2">
            <option>Developpement web et mobile</option>
            <option>Realiser un site web à partir de wordpress</option>
            <option>Choix de la fabrique 3</option>
          </select>&nbsp;
        </div>

        <button class="btn btn-primary"><strong> Save</strong></button>
      </div>

    </div>
  </div>
</div>
