
<div class="container d-flex">
  <ul class="list-group col-md-4 inline">
    <li class="list-group-item active">
      Libelle
      <button class="btn  btn-info" style="margin-left: 50px;">
        <a  class="clickable text-white" id="edit">Edit</a>
      </button>&nbsp;
      <button routerLink="/new-profil" class="btn  btn-success">
        <a class="clickable text-white" id="add" [routerLink]="['/layout/add-groupe-competence']">Add</a>
      </button>&nbsp;
      <button class="btn  btn-danger">
        <a  class="clickable text-white" id="delete">Delete</a>
      </button>
    </li>
    <li class="list-group-item">Description</li>
    <li class="list-group-item">Competences</li>
    <li class="list-group-item">Tag</li>
  </ul>

  <ul class="list-group col-md-4 inline" >
    <li class="list-group-item active">
      Libelle
      <button class="btn  btn-info" style="margin-left: 50px;">
        <a  class="clickable text-white" id="edit">Edit</a>
      </button>&nbsp;
      <button routerLink="/new-profil" class="btn  btn-success">
        <a class="clickable text-white" id="add" [routerLink]="['/add-groupe-competence']">Add</a>
      </button>&nbsp;
      <button class="btn  btn-danger">
        <a  class="clickable text-white" id="delete">Delete</a>
      </button>
    </li>
    <li class="list-group-item">Description</li>
    <li class="list-group-item">Competences</li>
    <li class="list-group-item">Tag</li>
  </ul>

  <ul class="list-group col-md-4 inline" >
    <li class="list-group-item active">
      Libelle
      <button class="btn  btn-info" style="margin-left: 50px;">
        <a  class="clickable text-white" id="edit">Edit</a>
      </button>&nbsp;
      <button routerLink="/new-profil" class="btn  btn-success">
        <a class="clickable text-white" id="add" [routerLink]="['/add-groupe-competence']">Add</a>
      </button>&nbsp;
      <button class="btn  btn-danger">
        <a  class="clickable text-white" id="delete">Delete</a>
      </button>
    </li>
    <li class="list-group-item">Description</li>
    <li class="list-group-item">Competences</li>
    <li class="list-group-item">Tag</li>
  </ul>
</div>



<div class="container d-flex">
  <ul class="list-group col-md-4 inline" style="margin-top:30px;">
    <li class="list-group-item active">
      Libelle
      <button class="btn  btn-info" style="margin-left: 50px;">
        <a  class="clickable text-white" id="edit">Edit</a>
      </button>&nbsp;
      <button routerLink="/new-profil" class="btn  btn-success">
        <a class="clickable text-white" id="add" [routerLink]="['/add-groupe-competence']">Add</a>
      </button>&nbsp;
      <button class="btn  btn-danger">
        <a  class="clickable text-white" id="delete">Delete</a>
      </button>
    </li>
    <li class="list-group-item">Description</li>
    <li class="list-group-item">Competences</li>
    <li class="list-group-item">Tag</li>
  </ul>

  <ul class="list-group col-md-4 inline" style="margin-top:30px;">
    <li class="list-group-item active">
      Libelle
      <button class="btn  btn-info" style="margin-left: 50px;">
        <a  class="clickable text-white" id="edit">Edit</a>
      </button>&nbsp;
      <button routerLink="/new-profil" class="btn  btn-success">
        <a class="clickable text-white" id="add" [routerLink]="['/add-groupe-competence']">Add</a>
      </button>&nbsp;
      <button class="btn  btn-danger">
        <a  class="clickable text-white" id="delete">Delete</a>
      </button>
    </li>
    <li class="list-group-item">Description</li>
    <li class="list-group-item">Competences</li>
    <li class="list-group-item">Tag</li>
  </ul>

  <ul class="list-group col-md-4 inline" style="margin-top:30px;">
    <li class="list-group-item active">
      Libelle
      <button class="btn  btn-info" style="margin-left: 50px;">
        <a  class="clickable text-white" id="edit">Edit</a>
      </button>&nbsp;
      <button routerLink="/new-profil" class="btn  btn-success">
        <a class="clickable text-white" id="add" [routerLink]="['/add-groupe-competence']">Add</a>
      </button>&nbsp;
      <button class="btn  btn-danger">
        <a  class="clickable text-white" id="delete">Delete</a>
      </button>
    </li>
    <li class="list-group-item">Description</li>
    <li class="list-group-item">Competences</li>
    <li class="list-group-item">Tag</li>
  </ul>
</div>



