                                        <!-- DEBUT DASHBORD -->


<div class="card-header text-white bg-primary container spacer"  style="max-width: 50rem;border-radius:10px;">
  Mon Tableau de Bord
</div>
<!--
<div class="card-body container">
  <strong> <a [routerLink]="['/profil']" class="list-group-item list-group-item-action active">Gerer profil</a></strong>
  <strong> <a [routerLink]="['/user']" class="list-group-item list-group-item-action">Gerer utilisateur</a></strong>
  <strong> <a [routerLink]="['/profil-sortie']" class="list-group-item list-group-item-action">Gerer profil de sortie</a></strong>
  <strong> <a [routerLink]="['/promo']" class="list-group-item list-group-item-action">Gerer promo</a></strong>
  <strong> <a [routerLink]="['/groupe-competence']" class="list-group-item list-group-item-action">Gerer groupe competence</a></strong>
  <strong> <a [routerLink]="['/competence']" class="list-group-item list-group-item-action">Gerer competence</a></strong>
  <strong> <a [routerLink]="['/referentiel']" class="list-group-item list-group-item-action">Gerer referentiel</a></strong>
</div>
-->

                                    <!-- FIN DASHBORD -->

