<div class="container spacer">
  <div class="card">

    <div class="card-header text-white bg-primary">
      <strong> Details de: {{userdetail.nom}}</strong>
    </div>
    <div class="card-body">
      <div >
        <div class="form-group">
          <label class="control-label"><strong>Nom: {{userdetail.nom}}</strong> </label>&nbsp;
        </div>
        <div class="form-group">
          <label class="control-label"><strong>Prénom: {{userdetail.prenom}}</strong> </label>&nbsp;
        </div>
        <div class="form-group">
          <label class="control-label"><strong>Email: {{userdetail.email}}</strong> </label>&nbsp;
        </div>
        <div class="form-group">
          <label class="control-label"><strong>Username: {{userdetail.username}}</strong> </label>&nbsp;
        </div>
        <div class="form-group">
          <label class="control-label"><strong>Photo: <img src="data:image/png;base64,{{userdetail.photo}}" alt="" width="75" height="75" class="rounded"></strong> </label>&nbsp;

        </div>

      </div>

    </div>
  </div>
  </div>
