
<!--Edit Profil-->
<div class="container spacer">
  <div class="card">

    <div class="card-header text-white bg-primary">
      <strong> Nouveau groupe competence</strong>
    </div>
    <div class="card-body">
      <div >
        <div class="form-group">
          <label class="control-label"><strong>Libelle:</strong> </label>&nbsp;
          <input class="form-control" type="text" >&nbsp;
        </div>
        <div class="form-group">
          <label class="control-label"><strong>Descriptif:</strong> </label>&nbsp;
          <input class="form-control" type="text" >&nbsp;
        </div>
        <div class="form-group">
          <label class="control-label"><strong>Competences:</strong> </label>&nbsp;
          <input class="form-control" type="text" >&nbsp;
        </div>
        <button class="btn btn-primary"><strong> Save</strong></button>
      </div>

    </div>
  </div>
</div>
