
<!--Edit Profil-->
<div class="container spacer">
  <div class="card">
    <form [formGroup]="dataReferentielRecup">
    <div class="card-header text-white bg-primary">
      <strong> Nouvelle referentiel</strong>
    </div>
    <div class="card-body">
      <div >
        <div class="form-group">
          <label class="control-label"><strong>Libelle:</strong> </label>&nbsp;
          <input class="form-control" type="text" >&nbsp;
        </div>
        <div class="form-group">
          <label class="control-label"><strong>Presentation:</strong> </label>&nbsp;
          <input class="form-control" type="text" >&nbsp;
        </div>
        <div class="form-group">
          <label class="control-label"><strong>Competences:</strong> </label>&nbsp;
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Développer le back-end d'une application web</option>
            <option>Développer le front-end d'une application web</option>
            <option>Développement Web et mobile</option>
          </select>&nbsp;
        </div>
        <div class="form-group">
          <label for="exampleFormControlFile1"><strong>Programme:</strong></label>
          <input type="file" class="form-control" accept="application/vnd.oasis.opendocument.text" formControlName="programme" (change)="uploadFile($event)"/>
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1"><strong>Critère  d'évaluation:</strong></label>
          <textarea class="form-control" id="exampleFormControlTextarea1"></textarea>
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea2"><strong>Critère  d'admission:</strong></label>
          <textarea class="form-control" id="exampleFormControlTextarea2"></textarea>
        </div>

        <button class="btn btn-primary" (click)="saveReferentiel()"><strong> Save</strong></button>
      </div>

    </div>
    </form>
  </div>
</div>
