
<!--Add User-->
<div class="container spacer">
  <div class="card">

    <div class="card-header text-white bg-primary">
      <strong> Nouveau Utilisateur</strong>
    </div>
    <div class="card-body">
      <div >
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Email</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Password</label>
              <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Nom</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Diallo">
          </div>
          <div class="form-group">
            <label for="inputAddress2"> Prenom</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Oumar">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">Date Naissance</label>
              <input type="date" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-4">
              <label for="inputAvatar">Avatar</label>
              <input type="file" class="form-control" id="inputAvatar">
            </div>
            <div class="form-group col-md-2">
              <label for="inputZip">Profil</label>
              <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Choose...</option>
                <option value="1">Admin</option>
                <option value="2">Apprenant</option>
                <option value="3">Formateur</option>
                <option value="3">Cm</option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-primary"><strong> Save</strong></button>
        </form>
      </div>

    </div>
  </div>
</div>
