<div class="container spacer">
  <div class="card">

    <div class="card-header text-white bg-primary">
      <strong>Liste des utilisateurs</strong>
    </div>
    <div class="card-body">
      <div class="card-body">
        <div class="form-inline">
          <label><strong>Mot clé:</strong></label>&nbsp;
          <input class="form-control" type="text" [(ngModel)]="search"  placeholder="Chercher par nom" >&nbsp;
          <button class="btn  btn-primary" (click)="chercher()">Chercher</button>&nbsp; &nbsp;
          <button class="btn  btn-info">
            <a class="clickable text-white" id="add" [routerLink]="['/layout/add-user']">Add</a>
          </button>&nbsp;
        </div><br/>
        <table class="table table-striped">
          <tr>
            <th (click)="sort('id')">ID &nbsp; <i class="fa fa-sort"></i></th>
            <th>Avatar</th>
            <th (click)="sort('nom')">Nom &nbsp; <i class="fa fa-sort"></i></th>
            <th (click)="sort('prenom')">Prenom &nbsp; <i class="fa fa-sort"></i></th>
            <th (click)="sort('email')">Email &nbsp; <i class="fa fa-sort"></i></th>
            <th>Username</th>
            <th style="margin-bottom:800px">Action</th>
          </tr>
          <tr *ngFor="let u of pageUser | filter:search | orderBy: key: reverse">
            <td>{{u.id}}</td>
            <td><img src="data:image/png;base64,{{u.photo}}" alt="" width="25" height="25" class="rounded"></td>
            <td>{{u.nom}}</td>
            <td>{{u.prenom}}</td>
            <td>{{u.email}}</td>
            <td>{{u.username}}</td>

            <td>
              <button class="btn  btn-primary">
                <a (click)="onEditUser(u.id)" class="clickable text-white" id="edit" [routerLink]="['/layout/edit-user']">Edit</a>
              </button>&nbsp;
              <button class="btn  btn-secondary">
                <a class="clickable text-white" id="detail" [routerLink]="['/layout/detail-list-user',u.id]">Details</a>
              </button>&nbsp;
              <button class="btn  btn-danger">
                <a (click)="onDeleteUser(u)" class="clickable text-white" id="delete">Delete</a>
              </button>
            </td>
          </tr>
        </table>
        <div class="container">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item" [ngClass]="{'active':i==currentPage}" *ngFor="let p of pages; let i=index ">
                <a class="page-link clickable" (click)="gotoPage(i)">{{i}}</a>
              </li>

            </ul>
          </nav>
        </div>

      </div>

    </div>
  </div>
</div>



